* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020024;
}

header {
  display: flex;
  align-items: center;
  justify-content:center;
}

main {
  background-img: 'url(./src/imagens/bg-desktop.jpg)';
}