@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700&display=swap");

:root {
  --body: #fff;
  --text-menu: #000;
  --back-icon: url("./assets/icons/moon.svg");
  --back: url("https://wallpaperaccess.com/full/184837.jpg");
}

:root .dark-theme {
  --body: #000;
  --text-menu: #fff;
  --back-icon: url("./assets/icons/sun.svg");
  --back: url("./assets/imagens/bg-desktop.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oxanium", cursive;
  background-color: var(--body);
  color: #ffffff;
}

body::before {
  content: "";
  background-image: var(--back);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.themeDiv {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

button {
  background: var(--body);
  style: none;
  min-width: 1.8rem;
  min-height: 1.8rem;
  background-image: var(--back-icon);
}

.animated-word {
  letter-spacing: 0.4em;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  max-width: 70px;
  width: 100%;
  outline: 2px solid;
  outline-color: rgba(71, 126, 232, 0.5);
  outline-offset: 3px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  border-radius: 10px;
}

.animated-word:hover {
  color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 30px;
}

ul {
  list-style: none;
}

.menu-characters {
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: calc(100vh - 152px);
  justify-content: center;
}

.menu-characters .character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.menu-characters .characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  gap: 25px;
}

.menu-characters .characters .title {
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: var(--text-menu);
  border-bottom: 2px solid #0271f7;
}

.menu-characters .characters img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 7.6875rem;
  max-height: 11.875rem;
  border-bottom: 2px solid #0271f7;
}

.menu-characters .characters li {
  border-radius: 10px;
  max-width: 7.6875rem;
  max-height: 11.875rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    335deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(54, 60, 54, 1) 51%,
    rgba(166, 167, 166, 0.79175420168067223) 96%
  );
}

ul {
  display: flex;
  justify-content: cente;
}

.character-list .character .selected {
  box-shadow: 0px 0px 24px 5px #0271f7;
}

.character-selected {
  text-align: center;
  max-height: 530px;
}

.character-selected .full-img {
  width: 430px;
  height: 430px;
}

.character-selected .name-info {
  border-bottom: 2px solid #0271f7;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--text-menu);
  font-size: 3rem;
}

.character-selected .description-info {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-top: 20px;
  width: 420px;
  color: var(--text-menu);
  background-color: var(--body);
  padding: 0.5rem;
  border-radius: 5px;
}

@media (max-width: 1120px) {
  header .logo {
    max-width: 190px;
  }

  .menu-characters {
    flex-direction: column-reverse;
    max-width: 430px;
    margin: 0 auto;
  }

  .menu-characters .characters {
    margin-top: 37px;
  }

  .menu-characters .characters .title {
    font-size: 15px;
  }

  .menu-characters .character-list {
    gap: 9px;
  }

  .menu-characters .characters img {
    width: 80px;
  }

  .character-selected .full-img {
    width: 350px;
    height: 350px;
  }

  .character-selected .description-info {
    width: 80%;
    font-size: 16px;
    margin: 20px auto;
  }
}

.character:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
